bcrypt~=4.1.2
requests~=2.31.0
quart-cors
quart-schema[pydantic]
uuid~=1.30
quart~=0.19.4
pymongo~=4.6.2
redis~=5.0.2
python-dotenv~=1.0.1
uvicorn~=0.27.1
py-radix
pydantic~=2.6.3
msgpack~=1.0.8
grpcio
protobuf
pyotp~=2.9.0
emoji~=2.12.1
websockets~=12.0
qrcode~=7.4.2