{% extends "_base.html" %}
{% block body %}
    <tr>
        <td style="padding-bottom: 12px;">
            Your {{ env['EMAIL_PLATFORM_NAME'] }} account has been locked because we believe it may have been compromised. This can happen if your {{ env['EMAIL_PLATFORM_NAME'] }} password is weak, you used the same password on another website and that website was hacked, or you accidentally gave an access token to someone else.
        </td>
    </tr>

    <tr>
        <td style="padding-bottom: 12px;">
            You will be required to reset your password using this email address (<a href="mailto:{{ address }}" target="_blank" style="color: black;">{{ address }}</a>) before logging back in to {{ env['EMAIL_PLATFORM_NAME'] }}.
        </td>
    </tr>

    <tr>
        <td style="padding-bottom: 24px;">
            If you had multi-factor authentication enabled, it has been temporarily disabled as a precaution, in case it was modified by someone attempting to lock you out of your account.
        </td>
    </tr>

    <tr>
        <td style="padding-bottom: 24px;">
            If you have any questions, please reach out to <a href="mailto:{{ env['EMAIL_PLATFORM_SUPPORT'] }}" target="_blank" style="color: black;">{{ env['EMAIL_PLATFORM_SUPPORT'] }}</a>.
        </td>
    </tr>
{% endblock %}