{% extends "_base.html" %}
{% block body %}
    <tr>
        <td style="padding-bottom: 12px;">{{ msg }}</td>
    </tr>

    <tr>
        <td style="padding-bottom: 24px;">If this wasn't you, please click the button below to secure your account.</td>
    </tr>

    <tr>
        <td style="padding-bottom: 12px;"><i>This link will expire in 24 hours.</i></td>
    </tr>

    <tr>
        <td style="padding-bottom: 28px;">
            <a
                href="{{ env['EMAIL_PLATFORM_FRONTEND'] }}/emails/lockdown#{{ token }}"
                target="_blank"
                style="padding: 12px; background-color: #f29e2e; border-radius: 6px; text-decoration: none; color: white; max-width: fit-content;"
            >
                <b>This wasn't me!</b>
            </a>
        </td>
    </tr>
{% endblock %}