<div style="margin: auto; display: flex; align-items: center; justify-content: center; width: 50%;">
    <div class="container" style="text-align: center!important;">
        <div style="border-radius: 10px; border: 2px solid #E8F3FD; width: 350px; padding: 20px;">
            <img src="https://cdn.discordapp.com/attachments/983072535417602058/983430704522227733/meower-icon.png" width="70" style="margin-top: -50px;">
            <h1 style="font-family: Helvetica; font-size: 24px; width: 100%;">Verify Your Email</h1>
            <p style="font-family: Helvetica; font-size: 16px; width: 100%;">Someone named <span style="color: #F9A637;">itsakuro</span> (likely you) tried to create account on Meower.</p>
            <p style="font-family: Helvetica; font-size: 16px; width: 100%;">To verify this email, please use the email verification link below.</p><br>
            <button style="background-color: #ff5600; border: none; border-radius:5px; color: white; padding: 15px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;"><a href="https://api.meower.org/v0/password-reset?t={{token}}" target="_blank" style="color: white; text-decoration: none;">Verify Email</a></button><br>
            <p style="font-family: Helvetica; font-size: 16px; color: #999999; width: 100%; font-style: italic;">- Meower Media Co.</p>
        </div>
        <br>
        <p style="font-family: Helvetica; font-size: 12px; color: #999999; width: 350px;">Not you? Ignore this email or email <a href="mailto:support@meower.org" style="color: #999999;">support@meower.org</a></p>
        <p style="font-family: Helvetica; font-size: 12px; color: #999999; width: 350px;">Meower is a free, open-source, and non-profit social media platform created by Meower Media Co.</p>
        <p style="font-family: Helvetica; font-size: 12px; color: #999999; width: 350px;"><a href="https://meower.org/" style="color: #999999;">Meower</a> | <a href="https://meower.org/legal" style="color: #999999;">Legal</a></p>
    </div>
</div>