<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Meower | Administration</title>
    <link rel="shortcut icon" href="assets/77336943.png" type="image/x-icon">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script>
      function search() {
        search_results = document.getElementById("username-search").value;
        window.location.replace("/admin/users?search=" + search_results)
      }
    </script>
    <div id="scratch" class="logo" href="#"><a id="scratch" href="/">Meower </a><a id="scratch" class="link" href="#">administration panel</a></div>
    <br>
    <div class="tab">
      <button class="tab_button" href="/reports">Reports</button>
      <button class="tab_button active" href="#">Users</button>
      <button class="tab_button" href="/chats">Chats</button>
      <button class="tab_button" href="/posts">Posts</button>
      <button class="tab_button" href="/announcements">Announcements</button>
      <button class="tab_button" href="/configuration">Configuration</button>
    </div>
    <div class="tabcontent" id="users">
      <h2>Search User</h2>
      <input type="text" id="username-search" placeholder="Search by username" /><br><br>
      <button id="search" onclick="search();">Search</button>
      {% if search_results %}
      <div>
        <h2>Search Results</h2>
        <table>
          <tr>
            <th>Username</th>
            <th>2FA</th>
            <th>Admin</th>
            <th>Deleted</th>
            <th>Created</th>
            <th>Last Login</th>
          </tr>
          {% if search_results_count == 0 %}
          <tr>
            <td>No users found.</td>
          </tr>
          {% endif %}
          {% for user in search_results %}
          <tr>
            <td>{{user.username}}</td>
            <td>{{user.mfa}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.deleted}}</td>
            <td>{{user.created}}</td>
            <td>{{user.last_login}}</td>
            <td><a href="/admin/users?user={{user.username}}">Select</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>
  </body>
</html>